<body>

  <div class="actual-home section-index">

    <div class="actual-home container-logo searchpage w-container">
      <h1 class="h-logo">Lacat&gt;</h1>
    </div>

    <div class="container-events search-page w-container" style="padding-top: 70px;">   

      {{#if experiences}}

        {{#each experiences}}

          <a class="link-block-events w-inline-block" href="/experience/{{this._id}}">
            <div class="div-block-image">
              <img class="img-events" sizes="100vw" src="{{this.fileUrl}}" srcset="{{this.fileUrl}} 500w,  {{this.fileUrl}} 820w">
            </div>
            <h4 class="heading-2">{{this.title}}</h4>
            <p class="paragraph-2">{{this.description}}</p>
          </a> 

        {{/each}}
        
      {{/if}}

    </div>

    <div class="container-navigation w-container">
      <a href="/experiences">
        <img class="icon-navigation" src="https://s3-us-west-2.amazonaws.com/lacatbucket/icons8-Home-Filled-50.png">
      </a>
      <a href="/search">
        <img class="icon-navigation" src="https://s3-us-west-2.amazonaws.com/lacatbucket/icons8-Search-50.png">
      </a>
    </div>

  </div>

  <div class="section-landscape">
    <img class="img-landscape" data-ix="new-interaction-5" sizes="100vw" src="https://s3-us-west-2.amazonaws.com/lacatbucket/cowpow-with-kids.jpeg" srcset="https://s3-us-west-2.amazonaws.com/lacatbucket/cowpow-with-kids.jpeg 800w, https://s3-us-west-2.amazonaws.com/lacatbucket/cowpow-with-kids.jpeg 1080w, https://s3-us-west-2.amazonaws.com/lacatbucket/cowpow-with-kids.jpeg 1141w">
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="https://s3-us-west-2.amazonaws.com/lacatbucket/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>