<br>
<br>
<br>

{{#if message}}

    <div style="border-radius: 1px; border: 1px solid #d9d8d5; background-color: white; margin: 5px; padding: 10px;">

      {{#each message.messages}}

        {{#if this.me}}
            <div style="border-radius: 5px; border: 1px solid white; background-color: white; margin: 5px; padding: 10px; text-align: left;">
	        	<img src="{{this.picMessage}}" alt="no image" style="height:45px">
			<h4 style="font-size: 13px;" style="text-align: left;">{{this.message}}</h4>
	        	<h4 style="font-size: 10px; text-align: left;"><b>me</b></h4>            	
            </div>
	        
        {{else}}

	        <div style="border-radius: 5px; border: 1px solid #ffe500; background-color: #ffe500; margin: 5px; padding: 10px; text-align: right;">
	        	<img src="{{this.picMessage}}" alt="no image" style="height:45px">
			<h4 style="font-size: 13px; text-align: right;">{{this.message}}</h4>
	        	<h4 style="font-size: 10px; text-align: right;"><b>{{this.name}}</b></h4>
	        </div>

        {{/if}}

      {{/each}}

            <form method="POST" action="/messages/send" id="messageForm">
	            <div class="form-group">
	                  <div class="input-group" style="margin-top: 20px; margin-bottom: 20px; width: 100%;">
	                    <input type="text" style="font-size: 11px; width: 100%;" class="form-control" placeholder="message... {{this.obj.name}}" name="message" required>
	                    <span class="input-group-btn" style="margin-bottom: 0px; padding-bottom: 0px;">
	                      <button style="background-color: #ffe500; margin-top: 0px; width: 100%;" class="btn btn-default" type="submit">Send Message</button>
	                    </span>
	                    <input type="text" value="{{message._id}}" style="font-size: 11px; display: none;" class="form-control" name="idConversation">
	                    <input type="text" value="{{message.toUser}}" style="font-size: 11px; display: none;" class="form-control" name="toUser">
	                    <input type="text" value="{{message.toEmail}}" style="font-size: 11px; display: none;" class="form-control" name="toEmail">
	                    <input type="text" value="{{message.toPic}}" style="font-size: 11px; display: none;" class="form-control" name="toPic">
	                    <input type="text" value="{{message.toName}}" style="font-size: 11px; display: none;" class="form-control" name="toName">

	                  </div>
	            </div>
            </form>

    </div>   

{{/if}}
