<div class="jumbotron" style="border-radius: 10px; border: 1px solid #black; background-color: black; margin-left: 5px; margin-right: 5px; margin-top: 15px;">

	<div style="text-align: center;">
	    <br>
		<span style="text-align: center; font-size: 30px; color: white;"><b>buzaLocal</b></span>
	</div>
	<div style="text-align: center;">
		<span style="text-align: center; font-size: 15px; color: white;"><b>We bring you entrepreneurship conversations 5 kms around you</b></span>
	</div>

</div>

{{#if buzaLocalErr}}

  <div style="margin-left: 5px; text-align: center;">
    <span><a href="/settings/settings"><span style="color: #1b96fe;" id="askQuestion"><b>check in</b></span></a> <b style="color: black"> to engage in conversations 5 kms around you... </b></span>
  </div>

{{/if}}

{{#if question}}

  {{#each question}}


  <div class="row" style="background-color: white; margin-left: 5px; margin-right: 5px; margin-top: 5px; border-radius: 1px; border: 1px solid #d9d8d5;">

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 5px;">
                           <h6><b><a href="/users/profile/{{this.obj.userid}}">{{this.obj.name}}<a></b></h6>
                           <img id="userImg" src="{{this.obj.picQuestion}}" alt="no image" style="height: 65px;" data-toggle="modal" data-target="#"+ {{this.obj._id}}> 
                        </div>

                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                            <h5 style="margin-bottom:0px;"><a href="/question/{{this.obj._id}}"><b>{{this.obj.question}}?</b></a></h5>
                            <h3>{{this.obj.date}}</h3>
                            {{#if obj.comments}}
  	                        <span type="button" data-toggle="collapse" data-target="#{{this.obj._id}}"><b style="color: #1b96fe;">comments</b></span>
                            {{/if}}

                        </div>
   </div>

   <div style="background-color: #fdfdfd; margin-left: 5px; margin-right: 5px; border-radius: 1px; border: 1px solid #d9d8d5;">

	    <div id="{{this.obj._id}}" class="collapse">
	 
		   {{#each obj.comments}}

            <div class="row">

                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="{{this.picComment}}" style="height: 40px;" alt="no image" style="height:45px">
                  </div>

                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      
                      <h2><a href="#"><b>{{this.author}}</b></a></h2>
                      <h4>{{this.userComment}}</h4>
                                               
                  </div>

            </div>

		   {{/each}}

	    </div>

   		<form method="POST" action="/comment" id="searchForm">
			<div class="form-group">
				    <div class="input-group" style="margin-top: 20px; margin-bottom: 20px; margin-right: 10px; margin-left: 10px;">
				      <input type="text" style="font-size: 11px;" class="form-control" placeholder="comment here..." name="comment" required>
				      <input type="text" value="{{this.obj._id}}" style="font-size: 11px; display: none;" class="form-control" name="idComment">
				      <span class="input-group-btn">
				        <button style="background-color: white; color: black;" class="btn btn-default glyphicon glyphicon-send" type="submit"></button>
				      </span>
				    </div>
			</div>
	   </form>
   </div>
   <br>
  
  {{/each}}

{{/if}}