<div style="padding-top: 50px; margin-top: 0px; min-height: 700px; background-color: #fafafa;">

<!-- {{#if promptRegister}}
<div class="row">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-6 col-lg-6">
    <div><b> please <a href="/users/register" style="color: #1b96fe;">register</a> to get results around you</b></div>
  </div>
  <div class="col-md-3 col-lg-3"></div>
</div>
{{/if}} -->

<!-- {{#if promptCheckIn}}
<div class="row">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-6 col-lg-6">
    <div><b> please <a href="/users/register">register</a> to get results around you</b></div>
  </div>
  <div class="col-md-3 col-lg-3"></div>
</div>
{{/if}} -->

<div class="row buzablue" style="z-index: 950px;">
    
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-1" ></div>

    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-10" style="margin: 10px;">
      <form method="POST" action="/" id="searchForm" style="width: 100%; margin: 10px; margin-top: 5px;">
          <div class="input-group" style="width: 100%;">
            <input autofocus type="text" class="form-control card1" placeholder="search around ..." name="site" required style="background-color: #002341; color: white; width: 100%; border-radius: 5px; border: 1px solid #002341; height: 50px;">
          </div>
          <br>
      </form>
    </div>

    <div class="col-md-3 col-lg-3"></div>

</div>
 
{{#if site}}

  {{#each site}}

  <div class="row">

      <div class="col-md-3 col-lg-3"></div>

      <div class="col-md-6 col-lg-6">
          <div  style="width: 100%; text-align: left; margin: 5px; margin-bottom: 0px; padding: 5px; color: #3c3c3c;">
          <a href="{{this.urlSource}}" style="font-size: 20px; color: black; margin: 0px; padding: 0px;">{{this.title}}</a>
          <div style="margin-top: 0px; margin-bottom: 0px;">
            <a href="{{this.urlSource}}" style="font-size: 17px; color: #0486f6; margin: 0px; padding: 0px;">{{this.urlSource}}</a>
          </div>
          <span class="text-concat" style="margin-right: 5px; margin-top: 0px;">{{this.content}}.</span>
          </div>
      </div>

      <div class="col-md-3 col-lg-3"></div>

  </div>

  {{/each}}

{{/if}}

</div>

<script type="text/javascript">
  
    $('a').click(function(){

      $(this).css('color', 'purple');

    });

</script>