<br>

<div class="jumbotron" style="border-radius: 1px; border: 1px solid #ffe500; background-color: #ffe500; color: black; margin-left: 5px; margin-right: 5px; margin-top: 15px;">

  <div style="text-align: center;">
    <span style="text-align: center; font-size: 15px;"><b>We bring you entrepreneurship conversations around you</b></span>
  </div>

</div>

{{#if buzaLocalErr}}

 <div style="margin-left: 5px; text-align: center;">
    <span><a href="/settings/settings"><span style="color: #414141;" id="askQuestion"><b>check in</b></span></a> <b style="color: black"> to engage in conversations around you... </b></span>
 </div>

{{/if}}

{{#if question}}

  {{#each question}}

    <div style="background-color: white; margin-left: 5px; margin-right: 5px; margin-top: 5px; border-radius: 1px; border: 1px solid #d9d8d5; padding: 8px;">
        <img src="../profile.png" alt="No Image" class="w3-left w3-circle w3-margin-right" style="width:30px">
        <h4 style="font-size: 13px;"><b>{{this.obj.name}}</b></h4>
        <br>
        <p style="color: #323232; font-size: 13px;"><a href="/question/{{this.obj._id}}">{{this.obj.question}}?</a></p>
        {{#if this.obj.comments}}
<!--         <span class="glyphicon glyphicon-heart" style="padding-left: 15px; color: #db0145;"></span> -->
        <span data-toggle="collapse" data-target="#{{this.obj._id}}" style="padding-left: 1px; font-size: 11px;"><b>show comments</b></span>
        {{/if}}

        <div id="{{this.obj._id}}" class="collapse" style="margin-top: 10px; margin-left: 0px; margin-right: 0px; background-color: #fdfdfd" >
     
         {{#each this.obj.comments}}

              <div>                  
                  <img src="{{this.picComment}}" alt="no image" style="height:45px">
                  <h2 style="font-size: 11px;"><a href="#"><b>{{this.author}}</b></a></h2>
                  <h4 style="font-size: 11px;">{{this.userComment}}</h4>
              </div>

         {{/each}}

        </div>

        <form method="POST" action="/comment" id="searchForm">
          <div class="form-group">
                <div class="input-group" style="margin-top: 20px; margin-bottom: 20px; width: 100%;">
                  <input type="text" style="font-size: 11px; width: 100%;" class="form-control" placeholder="comment here..." name="comment" required>
                  <span class="input-group-btn" style="margin-bottom: 0px; padding-bottom: 0px;">
                    <button style="background-color: yellow; color: white; margin-top: 0px; display: none; width: 100%;" class="btn btn-default glyphicon glyphicon-send" type="submit"></button>
                  </span>
                  <input type="text" value="{{this.obj._id}}" style="font-size: 11px; display: none;" class="form-control" name="idComment">
                  <input type="text" value="{{this.obj.userid}}" style="font-size: 11px; display: none;" class="form-control" name="useridQuestion">
                  <input type="text" value="{{this.obj.email}}" style="font-size: 11px; display: none;" class="form-control" name="idEmail">

                </div>
          </div>
        </form>

    </div>   
  
  {{/each}}

{{/if}}